<div class="div_wrapper_top" >
  <div class ="div_wrapper_top_cell" id="home_title">
    <h1>Keith's Record Store</h1>
  </div>
</div>

<div class="memes">
  <img src="/keithmemes.png">
</div>

<div class="div_wrapper_mid">
  <a class="div_wrapper_mid_cell homepage_links" href="/artists">
    <div class="images artists-image"></div>
    <h2>Artists</h2>
  </a>
  <a class="div_wrapper_mid_cell homepage_links" href="/albums">
    <div class="images albums-image"></div>
    <h2>Albums</h2>
  </a>
</div>

<div class="div_wrapper_foot">
  <div class="div_wrapper_foot_cell">
    <form method="post" action="/home">
      <label for="album-search-by-name"></label>
      <input type="text" name="name" id="album-search-by-name" value="Search Albums" class="search">
    </form>
  </div>
</div>
