<a href="/albums">albums</a>
<a href="/artists">artists</a>

<form method="post" action="/home">

<label for="album-search-by-name">search bar</label>
<input type="text" name="name" id="album-search-by-name"/>

<input type="submit" value="Search"/>

</form>
