<div class= "div_wrapper_top">
  <h1 id="home_title">N EW  A LB UM</h1>
</div>

<div class="homebar">
  <a href="/home" class="create_new_cell">HO M E</a>
</div>

<div class="create_new">
  <p><a href="/albums" class="create_new_cell">A LBU MS</a></p>
</div>

<div class="album_wrapper">
  <div class="album_form">

    <form method = "post" action="/albums">

      <label for="album-title">Album Title</label>
      <input type="text" name ="name" id= "album-title"/>

      <label for="album-artist">Album Artist</label>
      <input type="text" name ="artist_name" id= "album-artist"/>

      <label for="album-genre">Genre</label>
      <input type="text" name="genre" id="album-genre"/>

      <label for="album-quantity">Quantity</label>
      <input type="number" name="quantity" id="album-quantity"/>

      <label for="album-buy-price">Album Buy Price</label>
      <input type="float" name="buy_price" id="album-buy-price" step=".01"/>

      <label for="album-sell-price">Album Sell Price</label>
      <input type="float" name="sell_price" id="album-sell-price" step=".01"/>

      <label for="album-cover-url">Album cover URL</label>
      <input type="name" name="album_cover_url" id="album-cover-url"/>

      <input type="submit" value="Add New Album"/>

    </form>
  </div>

</div>
