<form method = "post" action="/albums">

  <label for="album-title">Album Title</label>
  <input type="text" name ="name" id= "album-title"/>

  <label for="album-artist">Album Artist</label>
  <input type="text" name ="artist_name" id= "album-artist"/>

  <label for="album-genre">Genre</label>
  <input type="text" name="genre" id="album-genre"/>

  <label for="album-quantity">Quantity</label>
  <input type="number" name="quantity" id="album-quantity"/>

  <label for="album-buy-price">Album Buy Price</label>
  <input type="number" name="buy_price" id="album-buy-price"/>

  <label for="album-sell-price">Sell Price</label>
  <input type="number" name="sell_price" id="album-sell-price"/>

  <label for="album-cover-url">Album cover URL</label>
  <input type="name" name="album_cover_url" id="album-cover-url"/>

  <input type="submit" value="Add New Album"/>

</form>
