<div class="div_wrapper_top">
<h1 id="album_page_title">NEW ARTI ST</h1>
</div>

<div class="album_wrapper">
  <div class="album_form">

<form method = "post" action="/artists">

  <label for="artist-name">Artist Name</label>
  <input type="text" name ="artist_name" id= "artist-name"/>

  <input type="submit" value="Add New Artist"/>
</form>

</div>
</div>
